@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-section {
  height: 56px;
}

.footer-section {
  height: 24px;
  padding: 36px;
}

.content-wrapper {
  min-height: calc(100vh - 152px);
}
